#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/opt/arcsight/console/current/logo/asserver1-32pix.gif
Name[en_US]=Start all ArcSight services
Exec=/sbin/service arcsight_services start
Name=Start all ArcSight services
Icon=/usr/share/icons/gnome/32x32/actions/gnome-run.png
